body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif; /* Use a professional font */
  }
  
  
.logoImage {
    height: 200px;
    width: auto;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

nav a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
  }
  
  nav a:hover {
    color: #64eaff; /* Change the text color on hover */
  }
  
  
  button {
    background-color: #64eaff;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
  
  }
  