.navbar {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 15px 20px;
  display: left;
  justify-content: space-between;
  align-items: left;
  z-index: 1000;
  color: brown;
}
 
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: x-large;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: goldenrod;
  }
  
  input[type="text"] {
    float: left;
    width: 75%;
    padding: 5px;
  }
  
  input[type="submit"] {
    float: left;
    padding: 5px;
    margin-left: 5px;
  }
  
  .navbar button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  
  .navbar button:hover {
    background-color: #ddd;
    color: black;
  }

  nav button {
    font-size: 16px;
  }
  